@import url('https://fonts.googleapis.com/css?family=Comfortaa|Neucha|Playball|Playfair+Display+SC&display=swap');

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#chartArea {
    overflow-y: hidden;
    overflow-x: auto;
}

.chart {
    margin: 1px solid black;
}

#chartArea::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none;
    transition: 1s;
}
#escolha {
    cursor: pointer;
}

.menor-preco {
    border: 1px solid red;
}

a {
    font-size: 1.3em;
}

td, th {
    font-size: 1.2em;
    width: 33.333%;
    text-align: center;
}

.card {
    min-height: 175px;
}