<html>
    <head>
        <style>.menu-icon{color:#247CC6}.menu-icon:focus{color:#FFC400;} .menu-icon:active{color:rgb(255, 0, 0);font-weight: bold}</style>
    </head>
    <body>
        <div class="fixed-bottom bg-light d-flex text-center d-none d-sm-block d-md-none shadow">
            <div class="p-3 flex-fill">
                <a href="reclamacao.html">
                    <i id='reclamacao' class="fas menu-icon fa-bullhorn"></i>
                </a>
            </div>
            <div class="p-3 flex-fill">
                <a href='gas.html'>
                    <i id='index' class="fas menu-icon fa-fire-alt"></i>
                </a>
            </div>
            <div class="p-3 flex-fill">
                <a href="gasolina.html">
                    <i id='gas' class="fas menu-icon fa-gas-pump"></i>
                </a>
            </div>
            <div class="p-3 flex-fill">
                <a href="cesta.html">
                    <i id='cesta' class="fas menu-icon fa-shopping-basket"></i>
                </a>
            </div>            
            <div class="p-3 flex-fill">
                <a>
                    <i id='user' class="fas menu-icon fa-user"></i>
                </a>
            </div>
        </div>
    </body>
</html>